@import "variables_mixins.less";


main.closet-mode {
  background-color: @color-black;
  padding: 0;

  .app-component {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  #mainPanel, .logged-component {
    // border: 1px solid red;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .closet-container {
      height: 88vh;
      .area {
        // overflow: scroll;
        // position: relative;

        .slider-bar {
          position: fixed;
          width: 100%;
          display: none;
          z-index: 5;
          margin-top: 5px;

          .slider {
            -webkit-appearance: none;
            width: 85%;
            height: 16px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
          }
          
          .slider:hover {
            opacity: 1;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
          }
          
          .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
          }
        }

        .clothes {
          height: 100%;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
          .pinch-zoom-container {
            img {
              padding:150px;
            }
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }      
      }

      &.show-area-sliders {
        .slider-area {
          display: block;
        }
      }

      &.show-image-sliders {
        .slider-image {
          display: block;
        }
      }

      &.show-area-lines {
        .area {
          border-bottom: 1px dashed #fff;
          .clothes {
            .pinch-zoom-container {
              border: 1px dashed #666;
            }
            &::-webkit-scrollbar {
              display: unset;
            }
            &::-webkit-scrollbar:vertical {
              width: 20px;
            }
            &::-webkit-scrollbar:horizontal {
              height: 20px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: rgba(0, 0, 0, .5);
              border: 2px solid #ffffff;
            }
            &::-webkit-scrollbar-track {
              background-color: #ffffff; 
            }
          }      
          
        }
        
      }

      &.hide-bottom {
        [class$="Bottom"] {
          display: none;
        }
        
      }
    }
  }
}




