.button {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #9b9090;
  color: #9b9090;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button i {
  font-weight: 500 !important;
}
.button:hover {
  border-color: #000;
  color: #000;
}
.badge {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
.img-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
main.closet-mode {
  margin-top: 3.55rem;
  background-color: #000;
  padding: 0;
}
main.closet-mode #mainPanel,
main.closet-mode .logged-component {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main.closet-mode #mainPanel .closet-container,
main.closet-mode .logged-component .closet-container {
  height: 88vh;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar,
main.closet-mode .logged-component .closet-container .area .slider-bar {
  position: fixed;
  width: 100%;
  display: none;
  z-index: 5;
  margin-top: 5px;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar .slider,
main.closet-mode .logged-component .closet-container .area .slider-bar .slider {
  -webkit-appearance: none;
  width: 99%;
  height: 16px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar .slider:hover,
main.closet-mode .logged-component .closet-container .area .slider-bar .slider:hover {
  opacity: 1;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar .slider::-webkit-slider-thumb,
main.closet-mode .logged-component .closet-container .area .slider-bar .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar .slider::-moz-range-thumb,
main.closet-mode .logged-component .closet-container .area .slider-bar .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
main.closet-mode #mainPanel .closet-container .area .clothes,
main.closet-mode .logged-component .closet-container .area .clothes {
  height: 100%;
  overflow-y: scroll;
}
main.closet-mode #mainPanel .closet-container .area .clothes .pinch-zoom-container img,
main.closet-mode .logged-component .closet-container .area .clothes .pinch-zoom-container img {
  padding: 150px;
}
main.closet-mode #mainPanel .closet-container .area .clothes::-webkit-scrollbar,
main.closet-mode .logged-component .closet-container .area .clothes::-webkit-scrollbar {
  -webkit-appearance: none;
}
main.closet-mode #mainPanel .closet-container .area .clothes::-webkit-scrollbar:vertical,
main.closet-mode .logged-component .closet-container .area .clothes::-webkit-scrollbar:vertical {
  width: 20px;
}
main.closet-mode #mainPanel .closet-container .area .clothes::-webkit-scrollbar:horizontal,
main.closet-mode .logged-component .closet-container .area .clothes::-webkit-scrollbar:horizontal {
  height: 20px;
}
main.closet-mode #mainPanel .closet-container .area .clothes::-webkit-scrollbar-thumb,
main.closet-mode .logged-component .closet-container .area .clothes::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
}
main.closet-mode #mainPanel .closet-container .area .clothes::-webkit-scrollbar-track,
main.closet-mode .logged-component .closet-container .area .clothes::-webkit-scrollbar-track {
  background-color: #ffffff;
}
main.closet-mode #mainPanel .closet-container.show-area-sliders .slider-area,
main.closet-mode .logged-component .closet-container.show-area-sliders .slider-area {
  display: block;
}
main.closet-mode #mainPanel .closet-container.show-image-sliders .slider-image,
main.closet-mode .logged-component .closet-container.show-image-sliders .slider-image {
  display: block;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area,
main.closet-mode .logged-component .closet-container.show-area-lines .area {
  border-bottom: 1px dashed #fff;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area .pinch-zoom-container,
main.closet-mode .logged-component .closet-container.show-area-lines .area .pinch-zoom-container {
  border: 1px dashed #666;
}
main.closet-mode #mainPanel .closet-container.hide-bottom [class$="Bottom"],
main.closet-mode .logged-component .closet-container.hide-bottom [class$="Bottom"] {
  display: none;
}
