@import "variables_mixins.less";

.slidefromtop {
  -webkit-animation-name: slidefromtop;
  -webkit-animation-duration: 0.6s;
  animation-name: slidefromtop;
  animation-duration: 0.6s;
  transition-timing-function: linear;
}

@-webkit-keyframes slidefromtop {
  from {
    // position: fixed;
    top: -300px;
    left: 0;
    opacity: 0;
  }
  to {
    //position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
  }
}



@keyframes slidefromtop {
  from {
    //position: fixed;
    left: 0;
    top: -300px;
    opacity: 0;
  }
  to {
    //position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
  }
}

.slidetotop {
  -webkit-animation-name: slidetotop;
  -webkit-animation-duration: 0.6s;
  animation-name: slidetotop;
  animation-duration: 0.6s;
  transition-timing-function: linear;
}

@-webkit-keyframes slidetotop {
  from {
    top: 0;
    left: 0;
    opacity: 0;
  }
  to {
    //position: fixed;
    top: -300px;
    left: 0;
    opacity: 1;
  }
}

@keyframes slidetotop {
  from {
    //position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
  }
  to {
    //position: fixed;
    left: 0;
    top: -300px;
    opacity: 1;
  }
}

body {
  font-family: @font-default;
}

main {
  min-height: 100vh;
  //margin-top: 3rem;
  //padding: 1.5rem 1.5rem 4rem 1.5rem;
  .app-component {
    padding: 4.5rem 1.5rem;
  }
}

input[type="search"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid @color-gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  border-radius: 0;

  &:focus {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
}

input[type="search"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 36px;
  height: 36px;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border: 1px dotted #7d7d7d;
  tr {
    border-bottom: 1px dotted #7d7d7d;
    th {
      @color-white-space: nowrap;
      font-weight: bold;
      border-right: 1px dotted @color-gray;
      &:last-child {
        border-right: none;
      }
    }
    th,
    td {
      padding: 0.75rem;
      text-align: center;
    }
  }

  tbody {
    tr:last-child {
      border-bottom: 0;
    }
  }
}

h3 {
  padding: 0.25rem 0;
  font-size: 1rem;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-left: 10px;
}

.row {
  margin-bottom: 1rem;
  /* Clear floats after the columns */
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.priority-btn-group,
.status-btn-group {
  display: flex;

  a {
    display: block;
    flex: 1 1 0px;
    text-align: center;
    .button();
    background-color: @color-white;
    color: @color-black;

    &:nth-child(2) {
      margin: 0 0.3rem;
    }

    &.selected {
      background-color: @blue-dark;
      color: @color-white;
      border: 0;
    }

  }
}

button {
  .button();
}

button[type="submit"],
.signup-button,
.signin-button,
.reset-button {
  background: @blue-dark;
  color: @color-white;
  float: right;
  border: 0;
}

.signup-button,
.signin-button,
.reset-button {
  width: 100%;
}

.button-row {
  display: flex;

  a,
  button,
  .custom-file-upload {
    background: @blue-dark;
    color: @color-white;
    float: none;
    flex-grow: 1;
    width: 100%;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.85rem;
    text-align: center;
    border-radius: 2px;
    border: 1px solid @color-gray;
    cursor: pointer;

    &:first-child {
      margin-right: 1rem;
    }
  }

  .custom-file-upload {
    margin-right: 1rem;
    input[type="file"] {
      display: none;
    }
    margin-bottom: 0;
  }
}

.image-row {
  .filename {
    margin-bottom: 1rem;
    display: block;
  }
}

.disabled {
  color: #ccc;
  pointer-events: none;
  a {
    color: #ccc;
    pointer-events: none;
  }
}

.alert-box {
  border: 1px solid @color-gray;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  background-color: beige;
  margin-bottom: 1rem;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
  
  .close {
    float: right;
    margin-top: -0.55rem;
    color: @color-black;
  }

  .add-node-link {
    text-decoration: underline;
    padding-left: .35rem;
  }

  .resend-confirmation {
    text-decoration: underline;
  }

  p {
    font-size: 0.85rem;
    font-weight: 500;
    padding-top: .5rem;
    padding-bottom: .25rem;
  }

  .arrow-down {
    border: solid @color-gray;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: -6px;
    background-color: beige;
  }
}

// .alert-box {
//   .slidefromtop()
// }

.floating-save-menu {
  position: fixed;
  position: fixed;
  bottom: 2rem;
  right: 5.85rem;
  background-color: #fff;
  border-radius: 1.4rem;
  padding: 0.75rem 0.85rem;
  color: #fff;
  z-index: 2;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  a {
    color: @color-black;
    i {
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}

.login {
  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0.75rem;
    font-weight: 500;
    font-size: 0.85rem;

    a {
      i {
        font-weight: 500;
      }
    }
  }

  .toggle-password {
    position: absolute;
    top: .65rem;
    right: .5rem;
  }
}

header,
footer,
.page-header,
.page-footer {
  color: @color-white;
  font-size: 1.25em;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0.75rem 1.5rem;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    white-space: nowrap;

    li {
      display: block;

      &.copy {
        text-align: left;
        font-size: 0.75rem;
      }

      &.page-title {
        text-align: center;
        overflow: hidden;

        img {
          height: 1.8rem;
        }

        .app-name {
          position: relative;
          // top: -6px;
          padding-left: 0.3rem;
        }

        &.align-left {
          text-align: left;
        }
      }

      &.user-info {
        font-size: 1rem;
        overflow: hidden;
        height: 2rem;
        line-height: 2rem;
      }

      a {
        i {
          // font-weight: 400 !important;
        }
      }
    }
  }

  a {
    font-weight: 500;
    color: @color-white;
    text-decoration: none;

    &.disabled {
      color: #666;
      pointer-events: none;
    }
  }
}

header,
.page-header {
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  border-bottom: 1px solid @color-gray;
  background: @blue-dark;
  background: linear-gradient(@blue-light, @blue-dark);
}

footer,
.page-footer {
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  border-top: 1px solid @color-gray;
  background: @blue-dark;
  background: linear-gradient(@blue-light, @blue-dark);
}

.modal-module .modal .header {
  background: @blue-dark;
  background: linear-gradient(@blue-light, @blue-dark);
}

body {

  // Project
  &.app-project {
    header,
    footer,
    .page-header,
    .page-footer,
    .modal-module .modal .header {
      background: @blue-dark;
      background: linear-gradient(@blue-light, @blue-dark);
    }

    .button {
      background-color: @blue-dark;
    }
      
    .priority-btn-group,
    .status-btn-group {
      a {
        background-color: @color-white;
        color: @color-black;
    
        &.selected {
          background-color: @blue-dark;
          color: @color-white;
        }
      }
    }
    
    button {
      .button();
    }
    
    button[type="submit"],
    .signup-button,
    .signin-button,
    .reset-button {
      background: @blue-dark;
    }
    
    .button-row {
      a,
      button,
      .custom-file-upload {
        background: @blue-dark;
      }
    
    }
  }

  // List
  &.app-list {
    header,
    footer,
    .page-header,
    .page-footer,
    .modal-module .modal .header {
      background: @orange-dark;
      background: linear-gradient(@orange-light, @orange-dark);
    }

    .button {
      background-color: @orange-dark;
    }
        
    .priority-btn-group,
    .status-btn-group {
      a {
        background-color: @color-white;
        color: @color-black;
    
        &.selected {
          background-color: @orange-dark;
          color: @color-white;
        }
      }
    }
    
    button {
      .button();
    }
    
    button[type="submit"],
    .signup-button,
    .signin-button,
    .reset-button {
      background: @orange-dark;
    }
    
    .button-row {
      a,
      button,
      .custom-file-upload {
        background: @orange-dark;
      }
    
    }
  }

  // Note
  &.app-note {
    header,
    footer,
    .page-header,
    .page-footer,
    .modal-module .modal .header {
      background: @gray-dark;
      background: linear-gradient(@gray-light, @gray-dark);
    }

    .button {
      background-color: @gray-dark;
    }
       
    .priority-btn-group,
    .status-btn-group {
      a {
        background-color: @color-white;
        color: @color-black;
    
        &.selected {
          background-color: @gray-dark;
          color: @color-white;
        }
      }
    }
    
    button {
      .button();
    }
    
    button[type="submit"],
    .signup-button,
    .signin-button,
    .reset-button {
      background: @gray-dark;
    }
    
    .button-row {
      a,
      button,
      .custom-file-upload {
        background: @gray-dark;
      }
    
    }
  }

  // Board
  &.app-board {
    header,
    footer,
    .page-header,
    .page-footer,
    .modal-module .modal .header {
      background: @violet-dark;
      background: linear-gradient(@violet-light, @violet-dark);
    }

    .button {
      background-color: @violet-dark;
    }
    
    .button:hover {
      background-color: @violet-light;
    }
    
    .priority-btn-group,
    .status-btn-group {
      a {
        background-color: @color-white;
        color: @color-black;
    
        &.selected {
          background-color: @violet-dark;
          color: @color-white;
        }
      }
    }
    
    button {
      .button();
    }
    
    button[type="submit"],
    .signup-button,
    .signin-button,
    .reset-button {
      background: @violet-dark;
    }
    
    .button-row {
      a,
      button,
      .custom-file-upload {
        background: @violet-dark;
      }
    
    }
  }

  // Closet
  &.app-closet {
    header,
    footer,
    .page-header,
    .page-footer,
    .modal-module .modal .header {
      background: @red-dark;
      background: linear-gradient(@red-light, @red-dark);
    }

    .button {
      background-color: @red-dark;
    }
    
    .button:hover {
      background-color: @red-light;
    }
    
    .priority-btn-group,
    .status-btn-group {
      a {
        background-color: @color-white;
        color: @color-black;
    
        &.selected {
          background-color: @red-dark;
          color: @color-white;
        }
      }
    }
    
    button {
      .button();
    }
    
    button[type="submit"],
    .signup-button,
    .signin-button,
    .reset-button {
      background: @red-dark;
    }
    
    .button-row {
      a,
      button,
      .custom-file-upload {
        background: @red-dark;
      }
    
    }
  }

  // Money
  &.app-money {
    header,
    footer,
    .page-header,
    .page-footer,
    .modal-module .modal .header {
      background: @green-dark;
      background: linear-gradient(@green-light, @green-dark);
    }

    .button {
      background-color: @green-dark;
      border: 1px solid @color-gray;
    }
    
    
    .priority-btn-group,
    .status-btn-group {
      a {
        background-color: @color-white;
        color: @color-black;
    
        &.selected {
          background-color: @green-dark;
          color: @color-white;
        }
      }
    }
    
    button {
      .button();
    }
    
    button[type="submit"],
    .signup-button,
    .signin-button,
    .reset-button {
      background: @green-dark;
    }
    
    .button-row {
      a,
      button,
      .custom-file-upload {
        background: @green-dark;
      }
    
    }
  }

  //Psygraph
  &.app-pychograph {
    header,
    footer,
    .page-header,
    .page-footer,
    .modal-module .modal .header {
      background: @cyan-dark;
      background: linear-gradient(@cyan-light, @cyan-dark);
    }

    .button {
      background-color: @cyan-dark;
    }
    
    .priority-btn-group,
    .status-btn-group {
      a {
        background-color: @color-white;
        color: @color-black;
    
        &.selected {
          background-color: @cyan-dark;
          color: @color-white;
        }
      }
    }
    
    button {
      .button();
    }
    
    button[type="submit"],
    .signup-button,
    .signin-button,
    .reset-button {
      background: @cyan-dark;
    }
    
    .button-row {
      a,
      button,
      .custom-file-upload {
        background: @cyan-dark;
      }
    
    }
  }
}

.showinfo-items {
  ul {
    li {
      display: flex;
      display: flex;
      border-bottom: 1px dotted #666;
      padding: 0.35rem 0;
      font-size: 0.85rem;

      span {
        display: block;
      }

      span:first-child {
        width: 30%;
      }

      span:last-child {
        width: 70%;
        font-weight: 600;
      }
    }
  }
}

.sort-todo {
  a {
    &.selected::after {
      font-family: "Font Awesome 5 Pro";
      font-weight: 300;
      content: "\f0de";
      padding-left: 3px;
    }
    &.selected.reverse::after {
      font-family: "Font Awesome 5 Pro";
      font-weight: 300;
      content: "\f0dd";
      padding-left: 3px;
    }
  }
}

.signup,
.signin,
.reset {
  font-size: .9rem;
}

.hide {
  display: none;
}


.separator-right {
  border-right: 1px solid #ccc;
  padding-right: 3px;
}

.separator-left {
  border-left: 1px solid #ccc;
  padding-left: 3px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.project-summary {
  .header-info {

    display: flex;
    justify-content: space-between;
    align-items: center;

    .column {
      &.collapse {
        i {
          font-size: 0.85rem;
          font-weight: 400;
          padding-right: 0.25rem;
        }
      }
      &.info {
        .text {
          font-size: .8rem;
        }
        
      }
    }


  }
  

  .count {
    .badge();
  }
}

.lightgreen {
  color: lightgreen
}

.orange {
  color: orange
}

.red {
  color: red;
}

