.button {
  border-radius: 2px;
  background-color: #0054a6;
  border: 1px solid #9b9090;
  color: #fff;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button.small {
  padding: 0.35rem;
}
.badge {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
.img-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.slidefromtop {
  -webkit-animation-name: slidefromtop;
  -webkit-animation-duration: 0.6s;
  animation-name: slidefromtop;
  animation-duration: 0.6s;
  transition-timing-function: linear;
}
@-webkit-keyframes slidefromtop {
  from {
    top: -300px;
    left: 0;
    opacity: 0;
  }
  to {
    top: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes slidefromtop {
  from {
    left: 0;
    top: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    top: 0;
    opacity: 1;
  }
}
.slidetotop {
  -webkit-animation-name: slidetotop;
  -webkit-animation-duration: 0.6s;
  animation-name: slidetotop;
  animation-duration: 0.6s;
  transition-timing-function: linear;
}
@-webkit-keyframes slidetotop {
  from {
    top: 0;
    left: 0;
    opacity: 0;
  }
  to {
    top: -300px;
    left: 0;
    opacity: 1;
  }
}
@keyframes slidetotop {
  from {
    left: 0;
    top: 0;
    opacity: 0;
  }
  to {
    left: 0;
    top: -300px;
    opacity: 1;
  }
}
body {
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
main {
  min-height: 100vh;
}
main .app-component {
  padding: 4.5rem 1.5rem;
}
input[type="search"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #9b9090;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  border-radius: 0;
}
input[type="search"]:focus,
input[type="date"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
input[type="search"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 36px;
  height: 36px;
}
label {
  display: block;
  margin-bottom: 0.25rem;
}
table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border: 1px dotted #7d7d7d;
}
table tr {
  border-bottom: 1px dotted #7d7d7d;
}
table tr th {
  font-weight: bold;
  border-right: 1px dotted #9b9090;
}
table tr th:last-child {
  border-right: none;
}
table tr th,
table tr td {
  padding: 0.75rem;
  text-align: center;
}
table tbody tr:last-child {
  border-bottom: 0;
}
h3 {
  padding: 0.25rem 0;
  font-size: 1rem;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-left: 10px;
}
.row {
  margin-bottom: 1rem;
  /* Clear floats after the columns */
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.priority-btn-group,
.status-btn-group {
  display: flex;
}
.priority-btn-group a,
.status-btn-group a {
  display: block;
  flex: 1 1 0px;
  text-align: center;
  border-radius: 2px;
  background-color: #0054a6;
  border: 1px solid #9b9090;
  color: #fff;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #000;
}
.priority-btn-group a.small,
.status-btn-group a.small {
  padding: 0.35rem;
}
.priority-btn-group a:nth-child(2),
.status-btn-group a:nth-child(2) {
  margin: 0 0.3rem;
}
.priority-btn-group a.selected,
.status-btn-group a.selected {
  background-color: #0054a6;
  color: #fff;
  border: 0;
}
button {
  border-radius: 2px;
  background-color: #0054a6;
  border: 1px solid #9b9090;
  color: #fff;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button.small {
  padding: 0.35rem;
}
button[type="submit"],
.signup-button,
.signin-button,
.reset-button {
  background: #0054a6;
  color: #fff;
  float: right;
  border: 0;
}
.signup-button,
.signin-button,
.reset-button {
  width: 100%;
}
.button-row {
  display: flex;
}
.button-row a,
.button-row button,
.button-row .custom-file-upload {
  background: #0054a6;
  color: #fff;
  float: none;
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.85rem;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #9b9090;
  cursor: pointer;
}
.button-row a:first-child,
.button-row button:first-child,
.button-row .custom-file-upload:first-child {
  margin-right: 1rem;
}
.button-row .custom-file-upload {
  margin-right: 1rem;
  margin-bottom: 0;
}
.button-row .custom-file-upload input[type="file"] {
  display: none;
}
.image-row .filename {
  margin-bottom: 1rem;
  display: block;
}
.disabled {
  color: #ccc;
  pointer-events: none;
}
.disabled a {
  color: #ccc;
  pointer-events: none;
}
.alert-box {
  border: 1px solid #9b9090;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  background-color: beige;
  margin-bottom: 1rem;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.alert-box .close {
  float: right;
  margin-top: -0.55rem;
  color: #000;
}
.alert-box .add-node-link {
  text-decoration: underline;
  padding-left: 0.35rem;
}
.alert-box .resend-confirmation {
  text-decoration: underline;
}
.alert-box p {
  font-size: 0.85rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}
.alert-box .arrow-down {
  border: solid #9b9090;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  bottom: -6px;
  background-color: beige;
}
.floating-save-menu {
  position: fixed;
  bottom: 2rem;
  right: 5.85rem;
  background-color: #fff;
  border-radius: 1.4rem;
  padding: 0.75rem 0.85rem;
  color: #fff;
  z-index: 2;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.floating-save-menu a {
  color: #000;
}
.floating-save-menu a i {
  font-weight: 400;
  font-size: 1.5rem;
}
.login .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
}
.login .user-info a i {
  font-weight: 500;
}
.login .toggle-password {
  position: absolute;
  top: 0.65rem;
  right: 0.5rem;
}
header,
footer,
.page-header,
.page-footer {
  color: #fff;
  font-size: 1.25em;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0.75rem 1.5rem;
}
header ul,
footer ul,
.page-header ul,
.page-footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  white-space: nowrap;
}
header ul li,
footer ul li,
.page-header ul li,
.page-footer ul li {
  display: block;
}
header ul li.copy,
footer ul li.copy,
.page-header ul li.copy,
.page-footer ul li.copy {
  text-align: left;
  font-size: 0.75rem;
}
header ul li.page-title,
footer ul li.page-title,
.page-header ul li.page-title,
.page-footer ul li.page-title {
  text-align: center;
  overflow: hidden;
}
header ul li.page-title img,
footer ul li.page-title img,
.page-header ul li.page-title img,
.page-footer ul li.page-title img {
  height: 1.8rem;
}
header ul li.page-title .app-name,
footer ul li.page-title .app-name,
.page-header ul li.page-title .app-name,
.page-footer ul li.page-title .app-name {
  position: relative;
  padding-left: 0.3rem;
}
header ul li.page-title.align-left,
footer ul li.page-title.align-left,
.page-header ul li.page-title.align-left,
.page-footer ul li.page-title.align-left {
  text-align: left;
}
header ul li.user-info,
footer ul li.user-info,
.page-header ul li.user-info,
.page-footer ul li.user-info {
  font-size: 1rem;
  overflow: hidden;
  height: 2rem;
  line-height: 2rem;
}
header a,
footer a,
.page-header a,
.page-footer a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
header a.disabled,
footer a.disabled,
.page-header a.disabled,
.page-footer a.disabled {
  color: #666;
  pointer-events: none;
}
header,
.page-header {
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  border-bottom: 1px solid #9b9090;
  background: #0054a6;
  background: linear-gradient(#00aeef, #0054a6);
}
footer,
.page-footer {
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  border-top: 1px solid #9b9090;
  background: #0054a6;
  background: linear-gradient(#00aeef, #0054a6);
}
.modal-module .modal .header {
  background: #0054a6;
  background: linear-gradient(#00aeef, #0054a6);
}
body.app-project header,
body.app-project footer,
body.app-project .page-header,
body.app-project .page-footer,
body.app-project .modal-module .modal .header {
  background: #0054a6;
  background: linear-gradient(#00aeef, #0054a6);
}
body.app-project .button {
  background-color: #0054a6;
}
body.app-project .priority-btn-group a,
body.app-project .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-project .priority-btn-group a.selected,
body.app-project .status-btn-group a.selected {
  background-color: #0054a6;
  color: #fff;
}
body.app-project button {
  background-color: #0054a6;
}
body.app-project button[type="submit"],
body.app-project .signup-button,
body.app-project .signin-button,
body.app-project .reset-button {
  background: #0054a6;
}
body.app-project .button-row a,
body.app-project .button-row button,
body.app-project .button-row .custom-file-upload {
  background: #0054a6;
}
body.app-list header,
body.app-list footer,
body.app-list .page-header,
body.app-list .page-footer,
body.app-list .modal-module .modal .header {
  background: #f7941d;
  background: linear-gradient(#fbaf5d, #f7941d);
}
body.app-list .button {
  background-color: #f7941d;
}
body.app-list .priority-btn-group a,
body.app-list .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-list .priority-btn-group a.selected,
body.app-list .status-btn-group a.selected {
  background-color: #f7941d;
  color: #fff;
}
body.app-list button {
  background-color: #f7941d;
}
body.app-list button[type="submit"],
body.app-list .signup-button,
body.app-list .signin-button,
body.app-list .reset-button {
  background: #f7941d;
}
body.app-list .button-row a,
body.app-list .button-row button,
body.app-list .button-row .custom-file-upload {
  background: #f7941d;
}
body.app-note header,
body.app-note footer,
body.app-note .page-header,
body.app-note .page-footer,
body.app-note .modal-module .modal .header {
  background: #7d7d7d;
  background: linear-gradient(#b7b7b7, #7d7d7d);
}
body.app-note .button {
  background-color: #7d7d7d;
}
body.app-note .priority-btn-group a,
body.app-note .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-note .priority-btn-group a.selected,
body.app-note .status-btn-group a.selected {
  background-color: #7d7d7d;
  color: #fff;
}
body.app-note button {
  background-color: #7d7d7d;
}
body.app-note button[type="submit"],
body.app-note .signup-button,
body.app-note .signin-button,
body.app-note .reset-button {
  background: #7d7d7d;
}
body.app-note .button-row a,
body.app-note .button-row button,
body.app-note .button-row .custom-file-upload {
  background: #7d7d7d;
}
body.app-board header,
body.app-board footer,
body.app-board .page-header,
body.app-board .page-footer,
body.app-board .modal-module .modal .header {
  background: #141871;
  background: linear-gradient(#5e61b1, #141871);
}
body.app-board .button {
  background-color: #141871;
}
body.app-board .button:hover {
  background-color: #5e61b1;
}
body.app-board .priority-btn-group a,
body.app-board .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-board .priority-btn-group a.selected,
body.app-board .status-btn-group a.selected {
  background-color: #141871;
  color: #fff;
}
body.app-board button {
  background-color: #141871;
}
body.app-board button[type="submit"],
body.app-board .signup-button,
body.app-board .signin-button,
body.app-board .reset-button {
  background: #141871;
}
body.app-board .button-row a,
body.app-board .button-row button,
body.app-board .button-row .custom-file-upload {
  background: #141871;
}
body.app-closet header,
body.app-closet footer,
body.app-closet .page-header,
body.app-closet .page-footer,
body.app-closet .modal-module .modal .header {
  background: #9e0b0f;
  background: linear-gradient(#ea7376, #9e0b0f);
}
body.app-closet .button {
  background-color: #9e0b0f;
}
body.app-closet .button:hover {
  background-color: #ea7376;
}
body.app-closet .priority-btn-group a,
body.app-closet .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-closet .priority-btn-group a.selected,
body.app-closet .status-btn-group a.selected {
  background-color: #9e0b0f;
  color: #fff;
}
body.app-closet button {
  background-color: #9e0b0f;
}
body.app-closet button[type="submit"],
body.app-closet .signup-button,
body.app-closet .signin-button,
body.app-closet .reset-button {
  background: #9e0b0f;
}
body.app-closet .button-row a,
body.app-closet .button-row button,
body.app-closet .button-row .custom-file-upload {
  background: #9e0b0f;
}
body.app-money header,
body.app-money footer,
body.app-money .page-header,
body.app-money .page-footer,
body.app-money .modal-module .modal .header {
  background: #007236;
  background: linear-gradient(#63df9d, #007236);
}
body.app-money .button {
  background-color: #007236;
  border: 1px solid #9b9090;
}
body.app-money .priority-btn-group a,
body.app-money .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-money .priority-btn-group a.selected,
body.app-money .status-btn-group a.selected {
  background-color: #007236;
  color: #fff;
}
body.app-money button {
  background-color: #007236;
  border: 1px solid #9b9090;
}
body.app-money button[type="submit"],
body.app-money .signup-button,
body.app-money .signin-button,
body.app-money .reset-button {
  background: #007236;
}
body.app-money .button-row a,
body.app-money .button-row button,
body.app-money .button-row .custom-file-upload {
  background: #007236;
}
body.app-pychograph header,
body.app-pychograph footer,
body.app-pychograph .page-header,
body.app-pychograph .page-footer,
body.app-pychograph .modal-module .modal .header {
  background: #016f98;
  background: linear-gradient(#7ac5f6, #016f98);
}
body.app-pychograph .button {
  background-color: #016f98;
}
body.app-pychograph .priority-btn-group a,
body.app-pychograph .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-pychograph .priority-btn-group a.selected,
body.app-pychograph .status-btn-group a.selected {
  background-color: #016f98;
  color: #fff;
}
body.app-pychograph button {
  background-color: #016f98;
}
body.app-pychograph button[type="submit"],
body.app-pychograph .signup-button,
body.app-pychograph .signin-button,
body.app-pychograph .reset-button {
  background: #016f98;
}
body.app-pychograph .button-row a,
body.app-pychograph .button-row button,
body.app-pychograph .button-row .custom-file-upload {
  background: #016f98;
}
.showinfo-items ul li {
  display: flex;
  border-bottom: 1px dotted #666;
  padding: 0.35rem 0;
  font-size: 0.85rem;
}
.showinfo-items ul li span {
  display: block;
}
.showinfo-items ul li span:first-child {
  width: 30%;
}
.showinfo-items ul li span:last-child {
  width: 70%;
  font-weight: 600;
}
.sort-todo a.selected::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0de";
  padding-left: 3px;
}
.sort-todo a.selected.reverse::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0dd";
  padding-left: 3px;
}
.signup,
.signin,
.reset {
  font-size: 0.9rem;
}
.hide {
  display: none;
}
.separator-right {
  border-right: 1px solid #ccc;
  padding-right: 3px;
}
.separator-left {
  border-left: 1px solid #ccc;
  padding-left: 3px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.project-summary .header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-summary .header-info .column.collapse i {
  font-size: 0.85rem;
  font-weight: 400;
  padding-right: 0.25rem;
}
.project-summary .header-info .column.info .text {
  font-size: 0.8rem;
}
.project-summary .count {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
.lightgreen {
  color: lightgreen;
}
.orange {
  color: orange;
}
.red {
  color: red;
}
