/* ----------- iOS devices ------------ */
.ios-fix .ios-statusbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 22px;
  background-color: #000;
  z-index: 3;
}
.ios-fix header,
.ios-fix .page-header {
  height: 80px;
  padding-top: 36px;
}
.ios-fix main .app-component {
  padding-top: 6rem;
}
.ios-fix main.closet-mode .app-component {
  padding-top: 5rem;
}
.ios-fix main.closet-mode .app-component .closet-container {
  height: 80vh;
}
.ios-fix main.closet-mode .app-component .closet-container .area {
  border-bottom: 0;
}
.ios-fix main.closet-mode .app-component .closet-container .area .pinch-zoom-container {
  width: 92%;
}
.ios-fix main.closet-mode .app-component .closet-container .area .pinch-zoom-container img {
  padding-left: 230px;
}
.ios-fix main.closet-mode .app-component .closet-container.show-area-lines .ios-lines {
  width: 95%;
  border-top: 1px dashed red;
}
.ios-fix main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container {
  border: 0 !important;
  border-left: 1px dashed #666 !important;
  border-right: 1px dashed #666 !important;
  border-bottom: 1px dashed #666 !important;
}
.ios-fix main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container:last-child {
  border-bottom: 0 !important;
}
.ios-fix #navPanel {
  top: 22px;
}
@supports (-webkit-overflow-scrolling: touch) {
  .ios-statusbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 22px;
    background-color: #000;
    z-index: 3;
  }
  header,
  .page-header {
    height: 80px;
    padding-top: 36px;
  }
  main .app-component {
    padding-top: 6rem;
  }
  main.closet-mode .app-component {
    padding-top: 5rem;
  }
  main.closet-mode .app-component .closet-container {
    height: 80vh;
  }
  main.closet-mode .app-component .closet-container .area {
    border-bottom: 0;
  }
  main.closet-mode .app-component .closet-container .area .pinch-zoom-container {
    width: 92%;
  }
  main.closet-mode .app-component .closet-container .area .pinch-zoom-container img {
    padding-left: 230px;
  }
  main.closet-mode .app-component .closet-container.show-area-lines .ios-lines {
    width: 95%;
    border-top: 1px dashed red;
  }
  main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container {
    border: 0 !important;
    border-left: 1px dashed #666 !important;
    border-right: 1px dashed #666 !important;
    border-bottom: 1px dashed #666 !important;
  }
  main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container:last-child {
    border-bottom: 0 !important;
  }
  #navPanel {
    top: 22px;
  }
}
body[data-mode="ios-fix"] .ios-statusbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 22px;
  background-color: #000;
  z-index: 3;
}
body[data-mode="ios-fix"] header,
body[data-mode="ios-fix"] .page-header {
  height: 80px;
  padding-top: 36px;
}
body[data-mode="ios-fix"] main .app-component {
  padding-top: 6rem;
}
body[data-mode="ios-fix"] main.closet-mode .app-component {
  padding-top: 5rem;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container {
  height: 80vh;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container .area {
  border-bottom: 0;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container .area .pinch-zoom-container {
  width: 92%;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container .area .pinch-zoom-container img {
  padding-left: 230px;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container.show-area-lines .ios-lines {
  width: 95%;
  border-top: 1px dashed red;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container {
  border: 0 !important;
  border-left: 1px dashed #666 !important;
  border-right: 1px dashed #666 !important;
  border-bottom: 1px dashed #666 !important;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container:last-child {
  border-bottom: 0 !important;
}
body[data-mode="ios-fix"] #navPanel {
  top: 22px;
}
