/* ----------- iOS devices ------------ */

.ios-fix {
  .ios-statusbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 22px;
    background-color: #000;
    z-index: 3;
  }
  header,
  .page-header {
    height: 80px;
    padding-top: 36px;
  }

  main {
    height: 100vh;
    .app-component {
      padding-top: 6rem;
    }

    &.closet-mode {
      .app-component {
        padding-top: 5rem;
        .closet-container {
          height: 80vh;

          .area {
            border-bottom: 0;

            .pinch-zoom-container {
              width: 92%;

              img {
                padding-left: 230px;
              }
            }
          }

          &.show-area-lines {
            .ios-lines {
              width: 95%;
              border-top: 1px dashed red;
            }

            .area {
              .pinch-zoom-container {
                border: 0 !important;
                border-left: 1px dashed #666 !important;
                border-right: 1px dashed #666 !important;
                border-bottom: 1px dashed #666 !important;
              }

              .pinch-zoom-container:last-child {
                border-bottom: 0 !important;
              }
            }
          }
        }
      }
    }
  }

  #navPanel {
    top: 22px;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .ios-fix();
}

body[data-mode="ios-fix"] {
  .ios-fix();
}
