.button {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #9b9090;
  color: #9b9090;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button i {
  font-weight: 500 !important;
}
.button:hover {
  border-color: #000;
  color: #000;
}
.badge {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
.img-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
div[class$="-list"] [class$="-header"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div[class$="-list"] [class$="-header"] [class$="-count"] {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
div[class$="-list"] [class$="-header"] [class^="add-"] {
  font-size: 1.5rem;
}
div[class$="-list"] [class$="-header"] .collapse i {
  font-size: 0.85rem;
  font-weight: 400;
  padding-right: 0.25rem;
}
div[class$="-list"] [class$="-header"] .filter-done a i {
  color: #000;
}
div[class$="-list"] [class$="-header"] .filter-done a.true i {
  color: #9b9090;
}
div[class$="-list"] [class$="-header"] a {
  color: #000;
}
div[class$="-list"] table {
  border: none;
  border-top: 1px dotted #7d7d7d;
  border-bottom: 1px dotted #7d7d7d;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}
div[class$="-list"] table th {
  border-right: none;
}
div[class$="-list"] table th:first-child {
  text-align: left;
  padding-left: 0;
}
div[class$="-list"] table th a {
  font-weight: bold;
}
div[class$="-list"] table th a.selected::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0de";
  padding-left: 3px;
}
div[class$="-list"] table th a.selected.reverse::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0dd";
  padding-left: 3px;
}
div[class$="-list"] table td {
  border-right: none;
}
div[class$="-list"] table td:first-child,
div[class$="-list"] table td:nth-child(2) {
  text-align: left;
  padding-left: 0;
}
div[class$="-list"] table td:nth-child(2) {
  display: flex;
  align-items: center;
}
div[class$="-list"] table td:last-child {
  padding-right: 0;
}
div[class$="-list"] table td img.img-icon {
  position: relative;
  top: 2px;
}
div[class$="-list"] table td .note-icon {
  margin-left: 0.5rem;
}
div[class$="-list"] table td [class$="-item"] {
  font-size: 0.85rem;
  width: fit-content;
}
div[class$="-list"] table td .colorbox {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
}
div[class$="-list"] table tr.list-add td:nth-child(4) {
  text-align: right;
}
div[class$="-list"] table.hide {
  display: none;
}
div[class$="-list"].notes-list td:nth-child(2) {
  display: table-cell;
}
div[class$="-list"].notes-list td:last-child {
  text-align: right;
}
.item form .row .editor-preview {
  display: none;
}
.item form .row.ck-editor-preview .editor-preview {
  display: block;
}
.item form .row.ck-editor-preview .cke {
  display: none;
}
