@import "variables_mixins.less";

div.list {
  table {
    thead {
      tr {
        background-color: #ebebeb;
        th {
          i {
            cursor: pointer;
            display: block;
          }
        }
      }
    }
    tr {
      td {
        border-right: 1px dotted @color-gray;
        &:nth-child(3) {
          text-align: left;
          
          .list-item {
            display: inline-flex;
            text-decoration: none;
            color: @color-black;
            width: 100%;
  
            span.image {
              display: flex;
              width: 36px;
              height: 36px;
              border: 1px solid #ccc;
              justify-content: center;
              align-items: center;
              margin-right: 5px;
              img {
                width: 24px;
                height: 24px;
              }
            }
  
            .info {
              display: flex;
              justify-content: center;
              align-items: center;
  
              .title-meta {
                .title {
                  display: block;
                  overflow: hidden;
                  white-space: nowrap;
                  font-family: @font-secondary;
                  font-size: 0.9rem;
                }
  
                .meta-data {
                  white-space: nowrap;
                  display: block;
                  font-size: 0.7rem;
                  color: @color-gray;
                  display: flex;
                  i {
                    margin-right: 0.25rem;
                  }
  
                  span {
                    display: block;
                  }
                  .todo-count {
                    color: @color-black;
                    border-left: 1px solid @color-gray;
                    margin-left: 0.25rem;
                    padding-left: 0.25rem;
  
                    &.bold {
                      font-weight: 700;
                    }
                  }
                }
              }
            }
          }
        }
        &:last-child {
          border-right: none;
        }
        .count {
          .badge();
        }
      }
    }
  }
}
