.button {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #9b9090;
  color: #9b9090;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button i {
  font-weight: 500 !important;
}
.button:hover {
  border-color: #000;
  color: #000;
}
.badge {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
.img-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.psychograph-test {
  background: linear-gradient(to bottom, #1b1464 0%, #7db9e8 100%);
  background-attachment: fixed;
}
.psygraph-mode {
  min-height: 90vh;
  color: #fff;
  background-attachment: fixed;
}
.psygraph-mode .psygraph-test {
  padding-bottom: 2rem;
}
.psygraph-mode .psygraph-test .heading h2 {
  font-size: 1.45rem;
  font-weight: 600;
  text-align: center;
}
.psygraph-mode .psygraph-test div[class^="stage-"] h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .lead {
  font-family: "Caveat", cursive;
  font-size: 1.25rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card {
  background-repeat: no-repeat;
  color: #fff;
  background-color: #000;
  border: 0.35rem solid #ebebeb;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card svg {
  height: inherit;
  width: inherit;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card h3 {
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.5;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card h4 {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 1rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card.esteem {
  background-position: left top;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card.shy {
  background-position: right top;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div {
  margin: 0.75rem 0;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div p {
  margin: 0.85rem 0;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div p.source {
  font-size: 0.85rem;
  font-style: italic;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div p .total-score {
  font-size: 1.5rem;
  font-weight: 700;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div ul {
  margin-top: 0.5rem;
  padding-left: 1rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item {
  padding: 1rem;
  background-color: #fff;
  color: #000;
  opacity: 0.9;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.65);
  -webkit-transition: height 2s;
  /* Safari */
  transition: height 2s;
  display: flex;
  margin: 0.5rem 0 1.5rem 0;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .question-index {
  flex-grow: 1;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .question {
  flex-grow: 10;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .index {
  vertical-align: top;
  padding-right: 16px;
  padding-top: 2px;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .index .current {
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  font-size: 25px;
  font-weight: bold;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .index .count {
  font-size: 18px;
  font-weight: normal;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .title h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 0.75rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options {
  padding-left: 1rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options .radio {
  font-size: 17px;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options .radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options .radio input[type="radio"] + span {
  margin-left: -22px;
  padding-left: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 -133px;
  display: inline-block;
  height: 2rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options .radio input[type="radio"]:checked + span {
  background-position: 0 -215px;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .psygraph-button-row {
  display: flex;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .psygraph-button-row button {
  background: #000;
  color: #fff;
  float: none;
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  border-radius: 2px;
  line-height: 1.5rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .psygraph-button-row button[style*="display: block;"] + button[style*="display: block;"] {
  margin-left: 1rem;
}
.psygraph-mode .psygraph-test .stage-result [class^="range"] h3 {
  text-align: left;
}
.psygraph-mode .psygraph-test .stage-result .highlight {
  background-color: #000;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.25rem;
}
.psygraph-mode .psygraph-test .stage-result .highlight h3::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f00c";
  padding-right: 5px;
  font-size: 1.25rem;
}
.psygraph-mode .psygraph-test .stage-result .result-container > p:nth-child(1),
.psygraph-mode .psygraph-test .stage-result .result-container > p:nth-child(2) {
  text-align: center;
}
.psygraph-mode .page-footer li {
  display: inline-flex;
}
.psygraph-mode .page-footer li a {
  display: inline-block;
}
.psygraph-mode .page-footer li a[style*="display: inline-block;"] + a[style*="display: inline-block;"] {
  margin-left: 1rem;
}
