* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 90vh;
}
a {
  cursor: pointer;
  color: unset;
  text-decoration: none;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
