.button {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #9b9090;
  color: #9b9090;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button i {
  font-weight: 500 !important;
}
.button:hover {
  border-color: #000;
  color: #000;
}
.badge {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
.img-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#navPanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#navPanel ul {
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}
#navPanel ul li {
  color: #fff;
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  display: block;
}
#navPanel ul li a {
  text-decoration: none;
  color: #818181;
  display: block;
}
#navPanel ul li a:hover {
  color: #f1f1f1;
}
#navPanel ul li a i {
  width: 1.5rem;
}
#navPanel ul li a.disabled {
  opacity: 0.5;
}
#navPanel ul li a.selected {
  color: #fff;
}
#navPanel .close-btn {
  position: absolute;
  top: 10px;
  right: 0.5em;
  font-size: 2em;
  margin-left: 2em;
  text-decoration: none;
  color: #fff;
}
body.nav-open {
  background-color: rgba(0, 0, 0, 0.6);
}
body.nav-open header,
body.nav-open .page-header,
body.nav-open footer,
body.nav-open .page-footer {
  opacity: 0.3;
}
body.nav-open .closet-container {
  height: 88vh;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: #000;
}
body.nav-open #navPanel {
  width: 250px;
  border: 1px solid #ccc;
  border-left: 0;
}
body.nav-open #mainPanel {
  opacity: 0.5;
}
#mainPanel .navButton,
.logged-component .navButton {
  cursor: pointer;
  position: relative;
  top: -0.3rem;
  padding-right: 0.5rem;
}
body.app-closet .logged-component #navPanel ul li.avatar-row {
  display: flex;
  justify-content: space-around;
}
body.app-closet .logged-component #navPanel ul li.avatar-row a {
  position: relative;
}
body.app-closet .logged-component #navPanel ul li.avatar-row a.selected::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f00c";
  padding-right: 5px;
  font-size: 3rem;
  position: absolute;
  top: 0.5rem;
  color: #fff;
}
body.app-closet .logged-component #navPanel ul li.avatar-row a img {
  height: 5rem;
}
