.button {
  border-radius: 2px;
  background-color: #000;
  border: 1px solid #9b9090;
  color: #fff;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button i {
  font-weight: 500 !important;
}
.button:hover {
  background-color: #666666;
}
.badge {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
.img-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#loader .loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  height: 100vh;
  z-index: 3;
}
#loader .loading-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
#loader .loading-box .loading-image {
  top: 0%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
#loader .loading-box .loading-image::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input {
  display: flex;
}
.input [class^="picker-trigger-"] {
  height: 36px;
  padding: 0.5rem;
  border: 1px solid #9b9090;
  border-left: 0;
  color: #000;
}
.input [class^="picker-trigger-"] span,
.input [class^="picker-trigger-"] i {
  width: 1rem;
  height: 1rem;
}
.input [class^="picker-trigger-"] span {
  border: 1px solid #9b9090;
  display: block;
}
[class$="-object-picker open"] {
  border: 1px solid #9b9090;
  padding: 0.75rem;
  position: relative;
  margin: 1rem 0;
}
[class$="-object-picker open"] .arrow-up {
  border: solid #9b9090;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  right: 15px;
  position: absolute;
  top: -5px;
  background-color: #fff;
}
[class$="-object-picker open"] .picker-panel .search input[type="search"] {
  width: 100%;
  height: 2.25rem;
}
[class$="-object-picker open"] .picker-panel .grid-wrap {
  max-height: 200px;
  overflow-y: auto;
}
[class$="-object-picker open"] .picker-panel .grid-wrap .grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  border-top: 1px dotted #9b9090;
  border-right: 1px dotted #9b9090;
}
[class$="-object-picker open"] .picker-panel .grid-wrap .grid i,
[class$="-object-picker open"] .picker-panel .grid-wrap .grid span {
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px dotted #9b9090;
  border-left: 1px dotted #9b9090;
}
[class$="-object-picker open"] .picker-panel .grid-wrap .grid i:last-child,
[class$="-object-picker open"] .picker-panel .grid-wrap .grid span:last-child {
  border-right: 1px dotted #9b9090;
}
.modal-module {
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}
.modal-module .modal {
  position: fixed;
  top: 20%;
  left: 10%;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop;
  animation-duration: 0.6s;
}
.modal-module .modal .header {
  background-color: #000;
  background: linear-gradient(#000, #666666);
  color: #fff;
  padding: 10px;
}
.modal-module .modal .header .title {
  margin: 0;
  font-weight: normal;
  padding: 0;
}
.modal-module .modal .header .close {
  color: #fff;
  float: right;
  font-size: 25px;
  font-weight: bold;
  margin-top: -5px;
}
.modal-module .modal .header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-module .modal .body {
  padding: 10px;
}
.modal-module .modal .buttons {
  padding: 10px 10px 15px 10px;
}
@-webkit-keyframes animatetop {
  from {
    position: fixed;
    top: -300px;
    left: 10%;
    opacity: 0;
  }
  to {
    position: fixed;
    top: 20%;
    left: 10%;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    position: fixed;
    top: -300px;
    left: 10%;
    opacity: 0;
  }
  to {
    position: fixed;
    top: 20%;
    left: 10%;
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  color: unset;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
main {
  min-height: 100vh;
}
main .app-component {
  padding: 4.5rem 1.5rem;
}
input[type="search"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #9b9090;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  border-radius: 0;
}
input[type="search"]:focus,
input[type="date"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
input[type="search"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 36px;
  height: 36px;
}
label {
  display: block;
  margin-bottom: 0.25rem;
}
table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border: 1px dotted #7d7d7d;
}
table tr {
  border-bottom: 1px dotted #7d7d7d;
}
table tr th {
  font-weight: bold;
  border-right: 1px dotted #9b9090;
}
table tr th:last-child {
  border-right: none;
}
table tr th,
table tr td {
  padding: 0.75rem;
  text-align: center;
}
table tbody tr:last-child {
  border-bottom: 0;
}
h3 {
  padding: 0.25rem 0;
  font-size: 1rem;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-left: 10px;
}
.row {
  margin-bottom: 1rem;
  /* Clear floats after the columns */
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.priority-btn-group,
.status-btn-group {
  display: flex;
}
.priority-btn-group a,
.status-btn-group a {
  display: block;
  flex: 1 1 0px;
  text-align: center;
  border-radius: 2px;
  background-color: #000;
  border: 1px solid #9b9090;
  color: #fff;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #666666;
}
.priority-btn-group a i,
.status-btn-group a i {
  font-weight: 500 !important;
}
.priority-btn-group a:nth-child(2),
.status-btn-group a:nth-child(2) {
  margin: 0 0.3rem;
}
.priority-btn-group a.selected,
.status-btn-group a.selected {
  background-color: #000;
  color: #fff;
  border: 0;
}
.priority-btn-group a:hover,
.status-btn-group a:hover {
  background-color: #666666;
  color: #fff;
}
button {
  border-radius: 2px;
  background-color: #000;
  border: 1px solid #9b9090;
  color: #fff;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Quicksand", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button i {
  font-weight: 500 !important;
}
button:hover {
  background: #666666;
}
button[type="submit"],
.signup-button,
.signin-button,
.reset-button {
  background: #000;
  color: #fff;
  float: right;
  border: 0;
}
button[type="submit"]:hover,
.signup-button:hover,
.signin-button:hover,
.reset-button:hover {
  background: #666666;
}
.signup-button,
.signin-button,
.reset-button {
  width: 100%;
}
.button-row {
  display: flex;
}
.button-row a,
.button-row button,
.button-row .custom-file-upload {
  background: #666666;
  color: #fff;
  float: none;
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.85rem;
  text-align: center;
  border-radius: 2px;
}
.button-row a:first-child,
.button-row button:first-child,
.button-row .custom-file-upload:first-child {
  margin-right: 1rem;
}
.button-row a:hover,
.button-row button:hover,
.button-row .custom-file-upload:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}
.button-row .custom-file-upload {
  margin-right: 1rem;
  margin-bottom: 0;
}
.button-row .custom-file-upload input[type="file"] {
  display: none;
}
.image-row .filename {
  margin-bottom: 1rem;
  display: block;
}
.disabled {
  color: #666;
  pointer-events: none;
}
.disabled a {
  color: #666;
  pointer-events: none;
}
.alert-box {
  border: 1px solid #9b9090;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  background-color: beige;
  margin-bottom: 1rem;
  position: relative;
}
.alert-box a {
  float: right;
  margin-top: -0.55rem;
  color: #000;
}
.alert-box p {
  font-size: 0.85rem;
  font-weight: 500;
}
.alert-box .arrow-down {
  border: solid #9b9090;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  bottom: -6px;
  background-color: beige;
}
.floating-save-menu {
  position: fixed;
  bottom: 2rem;
  right: 5.85rem;
  background-color: #fff;
  border-radius: 1.4rem;
  padding: 0.75rem 0.85rem;
  color: #fff;
  z-index: 2;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.floating-save-menu a {
  color: #000;
}
.floating-save-menu a i {
  font-weight: 400;
  font-size: 1.5rem;
}
.login .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
}
.login .user-info a i {
  font-weight: 500;
}
header,
footer,
.page-header,
.page-footer {
  color: #fff;
  font-size: 1.25em;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0.75rem 1.5rem;
}
header ul,
footer ul,
.page-header ul,
.page-footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  white-space: nowrap;
}
header ul li,
footer ul li,
.page-header ul li,
.page-footer ul li {
  display: block;
}
header ul li.copy,
footer ul li.copy,
.page-header ul li.copy,
.page-footer ul li.copy {
  text-align: left;
  font-size: 0.75rem;
}
header ul li.page-title,
footer ul li.page-title,
.page-header ul li.page-title,
.page-footer ul li.page-title {
  text-align: center;
  overflow: hidden;
}
header ul li.page-title img,
footer ul li.page-title img,
.page-header ul li.page-title img,
.page-footer ul li.page-title img {
  height: 1.8rem;
}
header ul li.page-title .app-name,
footer ul li.page-title .app-name,
.page-header ul li.page-title .app-name,
.page-footer ul li.page-title .app-name {
  position: relative;
  padding-left: 0.3rem;
}
header ul li.page-title.align-left,
footer ul li.page-title.align-left,
.page-header ul li.page-title.align-left,
.page-footer ul li.page-title.align-left {
  text-align: left;
}
header ul li.user-info,
footer ul li.user-info,
.page-header ul li.user-info,
.page-footer ul li.user-info {
  font-size: 1rem;
  overflow: hidden;
  height: 2rem;
  line-height: 2rem;
}
header ul li a i,
footer ul li a i,
.page-header ul li a i,
.page-footer ul li a i {
  font-weight: 400 !important;
}
header a,
footer a,
.page-header a,
.page-footer a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
header a.disabled,
footer a.disabled,
.page-header a.disabled,
.page-footer a.disabled {
  color: #666;
  pointer-events: none;
}
header,
.page-header {
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.39);
  border-bottom: 1px solid #9b9090;
  background: #0054a6;
  background: linear-gradient(#00aeef, #0054a6);
}
footer,
.page-footer {
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.39);
  border-top: 1px solid #9b9090;
  background: #0054a6;
  background: linear-gradient(#00aeef, #0054a6);
}
body.app-project header,
body.app-project footer,
body.app-project .page-header,
body.app-project .page-footer,
body.app-project .modal-module .modal .header {
  background: #0054a6;
  background: linear-gradient(#00aeef, #0054a6);
}
body.app-project .button {
  background-color: #0054a6;
  border: 1px solid #9b9090;
}
body.app-project .button:hover {
  background-color: #00aeef;
}
body.app-project .priority-btn-group a,
body.app-project .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-project .priority-btn-group a.selected,
body.app-project .status-btn-group a.selected {
  background-color: #0054a6;
  color: #fff;
}
body.app-project .priority-btn-group a:hover,
body.app-project .status-btn-group a:hover {
  background-color: #0054a6;
  color: #fff;
}
body.app-project button {
  background-color: #0054a6;
  border: 1px solid #9b9090;
}
body.app-project button:hover {
  background: #00aeef;
}
body.app-project button[type="submit"],
body.app-project .signup-button,
body.app-project .signin-button,
body.app-project .reset-button {
  background: #0054a6;
}
body.app-project button[type="submit"]:hover,
body.app-project .signup-button:hover,
body.app-project .signin-button:hover,
body.app-project .reset-button:hover {
  background: #00aeef;
}
body.app-project .button-row a,
body.app-project .button-row button,
body.app-project .button-row .custom-file-upload {
  background: #0054a6;
  border: 1px solid #9b9090;
}
body.app-project .button-row a:hover,
body.app-project .button-row button:hover,
body.app-project .button-row .custom-file-upload:hover {
  background: #00aeef;
}
body.app-list header,
body.app-list footer,
body.app-list .page-header,
body.app-list .page-footer,
body.app-list .modal-module .modal .header {
  background: #f7941d;
  background: linear-gradient(#fbaf5d, #f7941d);
}
body.app-list .button {
  background-color: #f7941d;
  border: 1px solid #9b9090;
}
body.app-list .button:hover {
  background-color: #fbaf5d;
}
body.app-list .priority-btn-group a,
body.app-list .status-btn-group a {
  background-color: #fff;
  color: #000;
}
body.app-list .priority-btn-group a.selected,
body.app-list .status-btn-group a.selected {
  background-color: #f7941d;
  color: #fff;
}
body.app-list .priority-btn-group a:hover,
body.app-list .status-btn-group a:hover {
  background-color: #f7941d;
  color: #fff;
}
body.app-list button {
  background-color: #f7941d;
  border: 1px solid #9b9090;
}
body.app-list button:hover {
  background: #fbaf5d;
}
body.app-list button[type="submit"],
body.app-list .signup-button,
body.app-list .signin-button,
body.app-list .reset-button {
  background: #f7941d;
}
body.app-list button[type="submit"]:hover,
body.app-list .signup-button:hover,
body.app-list .signin-button:hover,
body.app-list .reset-button:hover {
  background: #fbaf5d;
}
body.app-list .button-row a,
body.app-list .button-row button,
body.app-list .button-row .custom-file-upload {
  background: #f7941d;
  border: 1px solid #9b9090;
}
body.app-list .button-row a:hover,
body.app-list .button-row button:hover,
body.app-list .button-row .custom-file-upload:hover {
  background: #fbaf5d;
}
body.app-note header,
body.app-note footer,
body.app-note .page-header,
body.app-note .page-footer {
  background: #9fbf14;
  background: linear-gradient(#b7b7b7, #7d7d7d);
}
body.app-board header,
body.app-board footer,
body.app-board .page-header,
body.app-board .page-footer {
  background: #2d1241;
  background: linear-gradient(0deg, #2d1241 0%, #721c8a 100%);
}
body.app-closet header,
body.app-closet footer,
body.app-closet .page-header,
body.app-closet .page-footer {
  background: linear-gradient(#b7b7b7, #7d7d7d);
}
body.app-psychograph header,
body.app-psychograph footer,
body.app-psychograph .page-header,
body.app-psychograph .page-footer {
  background: #4f67ea;
  background: linear-gradient(0deg, #4f67ea 0%, #082359 100%);
}
.showinfo-items ul li {
  display: flex;
  border-bottom: 1px dotted #666;
  padding: 0.35rem 0;
  font-size: 0.85rem;
}
.showinfo-items ul li span {
  display: block;
}
.showinfo-items ul li span:first-child {
  width: 30%;
}
.showinfo-items ul li span:last-child {
  width: 70%;
  font-weight: 600;
}
.sort-todo a.selected::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0de";
  padding-left: 3px;
}
.sort-todo a.selected.reverse::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0dd";
  padding-left: 3px;
}
.signup,
.signin,
.reset {
  font-size: 0.9rem;
}
.hide {
  display: none;
}
.animate {
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 0.4s;
  animation-name: animateleft;
  animation-duration: 0.4s;
}
.slide-component {
  position: relative;
}
.slide-component {
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 0.4s;
  animation-name: animateleft;
  animation-duration: 0.4s;
}
[data-behavior="module"] .module-wrapper {
  position: relative;
}
[data-behavior="module"] [data-animation="slide"] {
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 0.4s;
  animation-name: animateleft;
  animation-duration: 0.4s;
}
@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
div.list table thead tr {
  background-color: #ebebeb;
}
div.list table thead tr th a.selected::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0de";
  padding-left: 3px;
}
div.list table thead tr th a.selected.reverse::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0dd";
  padding-left: 3px;
}
div.list table tr td {
  border-right: 1px dotted #9b9090;
}
div.list table tr td:nth-child(3) {
  text-align: left;
}
div.list table tr td:nth-child(3) .list-item {
  display: inline-flex;
  text-decoration: none;
  color: #000;
  width: 100%;
}
div.list table tr td:nth-child(3) .list-item span.image {
  display: flex;
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
div.list table tr td:nth-child(3) .list-item span.image img {
  width: 24px;
  height: 24px;
}
div.list table tr td:nth-child(3) .list-item span.image .letter {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Roboto", "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  height: 25px;
  width: 25px;
  line-height: 18px;
  padding: 3px;
  text-align: center;
}
div.list table tr td:nth-child(3) .list-item .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.list table tr td:nth-child(3) .list-item .info .title-meta .title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto", "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}
div.list table tr td:nth-child(3) .list-item .info .title-meta .meta-data {
  white-space: nowrap;
  display: block;
  font-size: 0.7rem;
  color: #9b9090;
  display: flex;
}
div.list table tr td:nth-child(3) .list-item .info .title-meta .meta-data i {
  margin-right: 0.25rem;
}
div.list table tr td:nth-child(3) .list-item .info .title-meta .meta-data span {
  display: block;
}
div.list table tr td:nth-child(3) .list-item .info .title-meta .meta-data .todo-count {
  color: #000;
  border-left: 1px solid #9b9090;
  margin-left: 0.25rem;
  padding-left: 0.25rem;
}
div.list table tr td:nth-child(3) .list-item .info .title-meta .meta-data .todo-count.bold {
  font-weight: 700;
}
div.list table tr td:last-child {
  border-right: none;
}
div.list table tr td .count {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
div[class$="-list"] [class$="-header"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div[class$="-list"] [class$="-header"] [class$="-count"] {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
div[class$="-list"] [class$="-header"] [class^="add-"] {
  font-size: 1.5rem;
}
div[class$="-list"] [class$="-header"] .collapse i {
  font-size: 0.85rem;
  font-weight: 400;
  padding-right: 0.25rem;
}
div[class$="-list"] [class$="-header"] .filter-done a i {
  color: #000;
}
div[class$="-list"] [class$="-header"] .filter-done a.true i {
  color: #9b9090;
}
div[class$="-list"] [class$="-header"] a {
  color: #000;
}
div[class$="-list"] table {
  border: none;
  border-top: 1px dotted #7d7d7d;
  border-bottom: 1px dotted #7d7d7d;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}
div[class$="-list"] table th {
  border-right: none;
}
div[class$="-list"] table th:first-child {
  text-align: left;
  padding-left: 0;
}
div[class$="-list"] table th a {
  font-weight: bold;
}
div[class$="-list"] table th a.selected::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0de";
  padding-left: 3px;
}
div[class$="-list"] table th a.selected.reverse::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0dd";
  padding-left: 3px;
}
div[class$="-list"] table td {
  border-right: none;
}
div[class$="-list"] table td:first-child,
div[class$="-list"] table td:nth-child(2) {
  text-align: left;
  padding-left: 0;
}
div[class$="-list"] table td:first-child .checked,
div[class$="-list"] table td:nth-child(2) .checked {
  text-decoration: line-through;
}
div[class$="-list"] table td:nth-child(2) {
  display: flex;
  align-items: center;
}
div[class$="-list"] table td:last-child {
  padding-right: 0;
}
div[class$="-list"] table td img.img-icon {
  position: relative;
  top: 2px;
}
div[class$="-list"] table td .note-icon {
  margin-left: 0.5rem;
}
div[class$="-list"] table td [class$="-item"] {
  font-size: 0.85rem;
  width: fit-content;
}
div[class$="-list"] table td .colorbox {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
}
div[class$="-list"] table tr.list-add td:nth-child(4) {
  text-align: right;
}
div[class$="-list"] table.hide {
  display: none;
}
div[class$="-list"].notes-list td:nth-child(2) {
  display: table-cell;
}
div[class$="-list"].notes-list td:last-child {
  text-align: right;
}
.item form .row .editor-preview {
  display: none;
}
.item form .row.ck-editor-preview .editor-preview {
  display: block;
}
.item form .row.ck-editor-preview .cke {
  display: none;
}
div.note img {
  padding: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
div.note form {
  display: block;
}
div.note .view {
  display: none;
}
div.note.view form {
  display: none;
}
div.note.view .view {
  display: block;
}
div.note.view .view div {
  padding: 0.5rem;
}
div.note.view .view .name {
  font-weight: 500;
}
div.note.view .view img {
  margin-top: 0.5rem;
  width: 100%;
}
.treeview > ul {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
}
.treeview > ul > li {
  padding-bottom: 0.25rem !important;
}
.treeview ul {
  list-style-type: none;
  /* Hide the nested list */
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
}
.treeview ul li {
  padding: 0.3rem 0 0 1.1rem;
  position: relative;
  border-top: 1px dotted #ccc;
}
.treeview ul li img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  top: 3px;
}
.treeview ul li i {
  width: 1.3rem;
  text-align: center;
  position: relative;
  top: 0.1rem;
}
.treeview ul li span {
  margin-right: 1.5rem;
  /* Create the caret/arrow with a unicode, and style it */
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
}
.treeview ul li span.parent {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
  display: inline-block;
  margin-bottom: 0.3rem;
}
.treeview ul li span.parent::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0fe";
  padding-right: 5px;
  font-size: 0.75rem;
}
.treeview ul li span.open::before {
  content: "\f146";
}
.treeview ul li .note-count {
  font-size: 10px;
  color: #666;
  margin-right: 3px;
  position: relative;
  top: -2px;
}
.treeview ul li .note-count i {
  width: 15px;
}
.treeview ul li a {
  text-decoration: none;
  color: #000;
  font-weight: normal;
}
.treeview ul li a.icon-link {
  position: absolute;
  right: 1rem;
  top: 0.25rem;
}
.treeview ul li a.icon-link i {
  top: 0;
  color: #9b9090;
}
.treeview ul li a.text-link span.title {
  padding-right: 3rem;
  display: inline-block;
}
.treeview ul li.no-parent {
  padding-bottom: 0.3rem;
}
.treeview ul.nodes {
  display: none;
  padding-left: 0;
}
.treeview ul:last-child {
  border-top: 0;
}
.treeview ul.open {
  display: block;
}
.treeview ul:empty {
  border: 0 !important;
}
.parentitem-component .parentid-tree {
  padding: 0 0.5rem 0.25rem 0.5rem;
  list-style-type: none;
}
.parentitem-component .parentid-tree li {
  padding: 3px 0 3px 10px;
  list-style-type: none;
  border-bottom: 1px dotted #ccc;
}
.parentitem-component .parentid-tree li .parent::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f0fe";
  padding-right: 5px;
}
.parentitem-component .parentid-tree li .parent.open::before {
  content: "\f146";
}
.parentitem-component .parentid-tree li .parent.open + a {
  padding-bottom: 3px;
}
.parentitem-component .parentid-tree li .nodes {
  display: none;
  padding-left: 0;
}
.parentitem-component .parentid-tree li .nodes.open {
  display: block;
  border-top: 1px dotted #ccc;
}
.parentitem-component .parentid-tree li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.parentitem-component .parentid-tree > li {
  padding-left: 0;
}
.parentitem-component .parent-dd {
  margin: 1rem 0;
  display: none;
}
.parentitem-component .parent-dd.false {
  display: none;
}
.parentitem-component .parent-dd.true {
  border: 1px solid #ccc;
  display: block;
  max-height: 16rem;
  overflow-y: auto;
}
.parentitem-component .picker-trigger {
  height: 36px;
  padding: 0.5rem;
  border: 1px solid #9b9090;
  border-left: 0;
  color: #000;
}
main.board-mode {
  background-color: #000;
}
.board .board-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.board .board-items .board-item {
  flex: 48%;
  max-width: 48%;
  margin-bottom: 0.75rem;
}
.board .board-items .board-item:nth-child(odd) {
  margin-right: 0.75rem;
}
.board .board-items .board-item.note {
  padding: 0.5rem;
  max-height: 12rem;
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  font-family: 'Caveat', cursive;
  font-size: 1.1rem;
  line-height: 1.1rem;
  background-color: yellow;
}
.board .board-items .board-item.note .header {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-weight: bold;
}
.board .board-items .board-item.image .header {
  display: none;
}
.board .board-items .board-item.image img {
  padding: 0.25rem;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
main.closet-mode {
  background-color: #000;
  padding: 0;
}
main.closet-mode .app-component {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
main.closet-mode #mainPanel,
main.closet-mode .logged-component {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main.closet-mode #mainPanel .closet-container,
main.closet-mode .logged-component .closet-container {
  height: 88vh;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar,
main.closet-mode .logged-component .closet-container .area .slider-bar {
  position: fixed;
  width: 100%;
  display: none;
  z-index: 5;
  margin-top: 5px;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar .slider,
main.closet-mode .logged-component .closet-container .area .slider-bar .slider {
  -webkit-appearance: none;
  width: 85%;
  height: 16px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar .slider:hover,
main.closet-mode .logged-component .closet-container .area .slider-bar .slider:hover {
  opacity: 1;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar .slider::-webkit-slider-thumb,
main.closet-mode .logged-component .closet-container .area .slider-bar .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
main.closet-mode #mainPanel .closet-container .area .slider-bar .slider::-moz-range-thumb,
main.closet-mode .logged-component .closet-container .area .slider-bar .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
main.closet-mode #mainPanel .closet-container .area .clothes,
main.closet-mode .logged-component .closet-container .area .clothes {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
main.closet-mode #mainPanel .closet-container .area .clothes .pinch-zoom-container img,
main.closet-mode .logged-component .closet-container .area .clothes .pinch-zoom-container img {
  padding: 150px;
}
main.closet-mode #mainPanel .closet-container .area .clothes::-webkit-scrollbar,
main.closet-mode .logged-component .closet-container .area .clothes::-webkit-scrollbar {
  display: none;
}
main.closet-mode #mainPanel .closet-container.show-area-sliders .slider-area,
main.closet-mode .logged-component .closet-container.show-area-sliders .slider-area {
  display: block;
}
main.closet-mode #mainPanel .closet-container.show-image-sliders .slider-image,
main.closet-mode .logged-component .closet-container.show-image-sliders .slider-image {
  display: block;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area,
main.closet-mode .logged-component .closet-container.show-area-lines .area {
  border-bottom: 1px dashed #fff;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area .clothes .pinch-zoom-container,
main.closet-mode .logged-component .closet-container.show-area-lines .area .clothes .pinch-zoom-container {
  border: 1px dashed #666;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area .clothes::-webkit-scrollbar,
main.closet-mode .logged-component .closet-container.show-area-lines .area .clothes::-webkit-scrollbar {
  display: unset;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area .clothes::-webkit-scrollbar:vertical,
main.closet-mode .logged-component .closet-container.show-area-lines .area .clothes::-webkit-scrollbar:vertical {
  width: 20px;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area .clothes::-webkit-scrollbar:horizontal,
main.closet-mode .logged-component .closet-container.show-area-lines .area .clothes::-webkit-scrollbar:horizontal {
  height: 20px;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area .clothes::-webkit-scrollbar-thumb,
main.closet-mode .logged-component .closet-container.show-area-lines .area .clothes::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
}
main.closet-mode #mainPanel .closet-container.show-area-lines .area .clothes::-webkit-scrollbar-track,
main.closet-mode .logged-component .closet-container.show-area-lines .area .clothes::-webkit-scrollbar-track {
  background-color: #ffffff;
}
main.closet-mode #mainPanel .closet-container.hide-bottom [class$="Bottom"],
main.closet-mode .logged-component .closet-container.hide-bottom [class$="Bottom"] {
  display: none;
}
#navPanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#navPanel ul {
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}
#navPanel ul li {
  color: #fff;
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  display: block;
}
#navPanel ul li a {
  text-decoration: none;
  color: #818181;
  display: block;
}
#navPanel ul li a:hover {
  color: #f1f1f1;
}
#navPanel ul li a i {
  width: 1.5rem;
}
#navPanel ul li a.disabled {
  opacity: 0.5;
}
#navPanel ul li a.selected {
  color: #fff;
}
#navPanel .close-btn {
  position: absolute;
  top: 10px;
  right: 0.5em;
  font-size: 2em;
  margin-left: 2em;
  text-decoration: none;
  color: #fff;
}
body.nav-open {
  background-color: rgba(0, 0, 0, 0.6);
}
body.nav-open header,
body.nav-open .page-header,
body.nav-open footer,
body.nav-open .page-footer {
  opacity: 0.3;
}
body.nav-open .closet-container {
  height: 88vh;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: #000;
}
body.nav-open #navPanel {
  width: 250px;
  border: 1px solid #ccc;
  border-left: 0;
}
body.nav-open #mainPanel {
  opacity: 0.5;
}
#mainPanel .navButton,
.logged-component .navButton {
  cursor: pointer;
  position: relative;
  padding-right: 0.5rem;
}
body.app-closet .logged-component #navPanel ul li.avatar-row {
  display: flex;
  justify-content: space-around;
}
body.app-closet .logged-component #navPanel ul li.avatar-row a {
  position: relative;
}
body.app-closet .logged-component #navPanel ul li.avatar-row a.selected::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f00c";
  padding-right: 5px;
  font-size: 3rem;
  position: absolute;
  top: 0.5rem;
  color: #fff;
}
body.app-closet .logged-component #navPanel ul li.avatar-row a img {
  height: 5rem;
}
.psychograph-test {
  background: linear-gradient(to bottom, #1b1464 0%, #7db9e8 100%);
  background-attachment: fixed;
}
.psygraph-mode {
  min-height: 90vh;
  color: #fff;
  background-attachment: fixed;
}
.psygraph-mode .psygraph-test {
  padding-bottom: 2rem;
}
.psygraph-mode .psygraph-test .heading h2 {
  font-size: 1.45rem;
  font-weight: 600;
  text-align: center;
}
.psygraph-mode .psygraph-test div[class^="stage-"] h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .lead {
  font-family: "Caveat", cursive;
  font-size: 1.25rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card {
  background-repeat: no-repeat;
  color: #fff;
  background-color: #000;
  border: 0.35rem solid #ebebeb;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card svg {
  height: inherit;
  width: inherit;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card h3 {
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.5;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card h4 {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 1rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card.esteem {
  background-position: left top;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .title-card.shy {
  background-position: right top;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div {
  margin: 0.75rem 0;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div p {
  margin: 0.85rem 0;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div p.source {
  font-size: 0.85rem;
  font-style: italic;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div p .total-score {
  font-size: 1.5rem;
  font-weight: 700;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .body div ul {
  margin-top: 0.5rem;
  padding-left: 1rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item {
  padding: 1rem;
  background-color: #fff;
  color: #000;
  opacity: 0.9;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.65);
  -webkit-transition: height 2s;
  /* Safari */
  transition: height 2s;
  display: flex;
  margin: 0.5rem 0 1.5rem 0;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .question-index {
  flex-grow: 1;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .question {
  flex-grow: 10;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .index {
  vertical-align: top;
  padding-right: 16px;
  padding-top: 2px;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .index .current {
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  font-size: 25px;
  font-weight: bold;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .index .count {
  font-size: 18px;
  font-weight: normal;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .title h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 0.75rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options {
  padding-left: 1rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options .radio {
  font-size: 17px;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options .radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options .radio input[type="radio"] + span {
  margin-left: -22px;
  padding-left: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 -133px;
  display: inline-block;
  height: 2rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .question-container .question-item .options .radio input[type="radio"]:checked + span {
  background-position: 0 -215px;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .psygraph-button-row {
  display: flex;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .psygraph-button-row button {
  background: #000;
  color: #fff;
  float: none;
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  border-radius: 2px;
  line-height: 1.5rem;
}
.psygraph-mode .psygraph-test div[class^="stage-"] .psygraph-button-row button[style*="display: block;"] + button[style*="display: block;"] {
  margin-left: 1rem;
}
.psygraph-mode .psygraph-test .stage-result [class^="range"] h3 {
  text-align: left;
}
.psygraph-mode .psygraph-test .stage-result .highlight {
  background-color: #000;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.25rem;
}
.psygraph-mode .psygraph-test .stage-result .highlight h3::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f00c";
  padding-right: 5px;
  font-size: 1.25rem;
}
.psygraph-mode .psygraph-test .stage-result .result-container > p:nth-child(1),
.psygraph-mode .psygraph-test .stage-result .result-container > p:nth-child(2) {
  text-align: center;
}
.psygraph-mode .page-footer li {
  display: inline-flex;
}
.psygraph-mode .page-footer li a {
  display: inline-block;
}
.psygraph-mode .page-footer li a[style*="display: inline-block;"] + a[style*="display: inline-block;"] {
  margin-left: 1rem;
}
.money .chart-info {
  display: grid;
  align-items: center;
  justify-content: space-around;
}
.money .chart-info div {
  padding: 0.25rem;
  font-size: 0.9rem;
}
/* ----------- Android devices ------------ */
/* ----------- iOS devices ------------ */
.ios-fix .ios-statusbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 22px;
  background-color: #000;
  z-index: 3;
}
.ios-fix main.closet-mode .app-component {
  padding-top: 5rem;
}
.ios-fix main.closet-mode .app-component .closet-container {
  height: 80vh;
}
.ios-fix main.closet-mode .app-component .closet-container .area {
  border-bottom: 0;
}
.ios-fix main.closet-mode .app-component .closet-container .area .pinch-zoom-container {
  width: 92%;
}
.ios-fix main.closet-mode .app-component .closet-container .area .pinch-zoom-container img {
  padding-left: 230px;
}
.ios-fix main.closet-mode .app-component .closet-container.show-area-lines .ios-lines {
  width: 95%;
  border-top: 1px dashed red;
}
.ios-fix main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container {
  border: 0 !important;
  border-left: 1px dashed #666 !important;
  border-right: 1px dashed #666 !important;
  border-bottom: 1px dashed #666 !important;
}
.ios-fix main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container:last-child {
  border-bottom: 0 !important;
}
.ios-fix #navPanel {
  top: 22px;
}
@supports (-webkit-overflow-scrolling: touch) {
  .ios-statusbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 22px;
    background-color: #000;
    z-index: 3;
  }
  main.closet-mode .app-component {
    padding-top: 5rem;
  }
  main.closet-mode .app-component .closet-container {
    height: 80vh;
  }
  main.closet-mode .app-component .closet-container .area {
    border-bottom: 0;
  }
  main.closet-mode .app-component .closet-container .area .pinch-zoom-container {
    width: 92%;
  }
  main.closet-mode .app-component .closet-container .area .pinch-zoom-container img {
    padding-left: 230px;
  }
  main.closet-mode .app-component .closet-container.show-area-lines .ios-lines {
    width: 95%;
    border-top: 1px dashed red;
  }
  main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container {
    border: 0 !important;
    border-left: 1px dashed #666 !important;
    border-right: 1px dashed #666 !important;
    border-bottom: 1px dashed #666 !important;
  }
  main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container:last-child {
    border-bottom: 0 !important;
  }
  #navPanel {
    top: 22px;
  }
}
body[data-mode="ios-fix"] .ios-statusbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 22px;
  background-color: #000;
  z-index: 3;
}
body[data-mode="ios-fix"] main.closet-mode .app-component {
  padding-top: 5rem;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container {
  height: 80vh;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container .area {
  border-bottom: 0;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container .area .pinch-zoom-container {
  width: 92%;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container .area .pinch-zoom-container img {
  padding-left: 230px;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container.show-area-lines .ios-lines {
  width: 95%;
  border-top: 1px dashed red;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container {
  border: 0 !important;
  border-left: 1px dashed #666 !important;
  border-right: 1px dashed #666 !important;
  border-bottom: 1px dashed #666 !important;
}
body[data-mode="ios-fix"] main.closet-mode .app-component .closet-container.show-area-lines .area .pinch-zoom-container:last-child {
  border-bottom: 0 !important;
}
body[data-mode="ios-fix"] #navPanel {
  top: 22px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #screen:after {
    content: "XS";
  }
  .col-25,
  .col-75,
  button[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .col-75 {
    padding-left: 0;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #screen:after {
    content: "SM";
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #screen:after {
    content: "MD";
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #screen:after {
    content: "LG";
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #screen:after {
    content: "XL";
  }
}
