@import "variables_mixins.less";

.treeview {
  > ul {
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;

    > li {
      // border-bottom: 1px dotted#ccc;
      padding-bottom: 0.25rem !important;
    }
  }

  ul {
    list-style-type: none;

    li {
      padding: 0.3rem 0 0 1.1rem;
      position: relative;
      border-top: 1px dotted#ccc;

      img {
        .img-icon();
        width: 1.3rem;
        height: 1.3rem;
        position: relative;
        top: 3px;
      }

      i {
        width: 1.3rem;
        text-align: center;
        position: relative;
        top: 0.1rem;
      }

      span {
        margin-right: 3rem;
        display: inline-block;

        &.checked {
          text-decoration: line-through;
        }
        &.parent {
          cursor: pointer;
          user-select: none; /* Prevent text selection */
          display: inline-block;
          margin-bottom: 0.3rem;
        }
        /* Create the caret/arrow with a unicode, and style it */
        &.parent::before {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Pro";
          font-weight: 300;
          content: "\f0fe";
          padding-right: 5px;
          font-size: 0.75rem;
        }
        /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
        &.open::before {
          content: "\f146";
        }
      }

      .note-count {
        font-size:10px; 
        color: #666;
        margin-right: 3px;
        position: relative;
        top: -2px;
        i {
          width: 15px;
        }

      }

      a {
        text-decoration: none;
        color: @color-black;
        font-weight: normal;
        &.icon-link {
          position: absolute;
          right: 1rem;
          top: 0.25rem;

          i {
            top: 0;
            color: @color-gray;
          }
        }

        &.text-link {
          span.title {
            padding-right: 3rem;
            display: inline-block;
          }
        }
      }

      &.no-parent {
        padding-bottom: .3rem;
      }
    }
    /* Hide the nested list */
    &.nodes {
      display: none;
      padding-left: 0;
    }
    &:last-child {
      border-top: 0;
    }
    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    &.open {
      display: block;

      // > li.treeviewitem-component {
      //   padding-bottom: .3rem;
      // }
    }
  }

  ul:empty {
    border: 0 !important;
  }
}

.parentitem-component {

  .parentid-tree {
    padding: 0 .5rem .25rem .5rem;
    list-style-type: none;
    li {
      padding: 3px 0 3px 10px;
      list-style-type: none;
      border-bottom: 1px dotted #ccc;
      .parent::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f0fe";
        padding-right: 5px;
      }
      .parent.open::before {
        content: "\f146";
      }
  
      .parent.open + a {
        padding-bottom: 3px;
      }
  
      .nodes {
        display: none;
        padding-left: 0;
      }
  
      .nodes.open {
        display: block;
        border-top: 1px dotted #ccc;
  
      }
  
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  
    > li {
      padding-left: 0;
    }
  }
  
  .parent-dd {
    margin: 0 0 1rem 0;
    display: none;
    &.false {
      display: none;
    }
    &.true {
      border: 1px solid #ccc;
      display: block;
      max-height: 16rem;
      overflow-y: auto;
    }
  }

  .picker-trigger {
    height: 36px;
    padding: 0.5rem;
    border: 1px solid #9b9090;
    border-left: 0;
    color: #000;
  }
}
