.button {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #9b9090;
  color: #9b9090;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button i {
  font-weight: 500 !important;
}
.button:hover {
  border-color: #000;
  color: #000;
}
.badge {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0.2rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  position: relative;
  top: -2px;
  min-width: 1.25rem;
}
.img-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.treeview > ul {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
}
.treeview > ul > li {
  padding-bottom: 0.25rem !important;
}
.treeview ul {
  list-style-type: none;
  /* Hide the nested list */
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
}
.treeview ul li {
  padding: 0.3rem 0 0.3rem 1.1rem;
  position: relative;
  border-top: 1px dotted #ccc;
}
.treeview ul li img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  display: inline-block;
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  top: 3px;
}
.treeview ul li i {
  width: 1.3rem;
  text-align: center;
  position: relative;
  top: 0.1rem;
}
.treeview ul li span {
  margin-right: 1.5rem;
  /* Create the caret/arrow with a unicode, and style it */
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
}
.treeview ul li span.parent {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
  display: inline-block;
  margin-bottom: 0.3rem;
}
.treeview ul li span.parent::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f0fe";
  padding-right: 5px;
  font-size: 0.75rem;
}
.treeview ul li span.open::before {
  content: "\f146";
}
.treeview ul li a {
  text-decoration: none;
  color: #000;
  font-weight: normal;
}
.treeview ul li a.icon-link {
  position: absolute;
  right: 1rem;
  top: 0.25rem;
}
.treeview ul li a.icon-link i {
  top: 0;
  color: #9b9090;
}
.treeview ul li a.text-link span.title {
  padding-right: 3rem;
  display: inline-block;
}
.treeview ul.nodes {
  display: none;
  padding-left: 0;
}
.treeview ul:last-child {
  border-top: 0;
}
.treeview ul.open {
  display: block;
}
